# Copy this file to `.env` and fill in real values before running the app

### === Required Config ===

# MongoDB connection string

MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<dbname>

# Secret key used to sign JWT tokens

JWT_SECRET=your_jwt_secret_here

# Port your server will run on

PORT=3000

